{% extends "core/base.html" %}
{% block title %} Event | Univerze {% endblock %}
{% block content %}
<section class="center-content">
        <h2>Upcoming Astronomy Events</h2>

        <div class="event-grid">
            <div class="event">
                <h3>Stargazing Night: Perseid Meteor Shower</h3>
                <p>Join us for a mesmerizing night of stargazing to witness the annual Perseid meteor shower...</p>
                <p>Date: August 12, 2023</p>
                <a href="#">Learn More</a>
            </div>

            <div class="event">
                <h3>Supermoon Viewing Party</h3>
                <p>Celebrate the breathtaking supermoon with us and enjoy an unforgettable night of lunar observation...</p>
                <p>Date: September 18, 2023</p>
                <a href="#">Learn More</a>
            </div>

            <div class="event">
                <h3>Milky Way Photography Workshop</h3>
                <p>Learn how to capture the stunning beauty of the Milky Way in our photography workshop...</p>
                <p>Date: October 5, 2023</p>
                <a href="#">Learn More</a>
            </div>

            <div class="event">
                <h3>Planetarium Star Show</h3>
                <p>Experience the wonders of the cosmos in our state-of-the-art planetarium star show...</p>
                <p>Date: November 20, 2023</p>
                <a href="#">Learn More</a>
            </div>

            <div class="event">
                <h3>Astronomy Night: Lunar Eclipse Viewing</h3>
                <p>Join us for an exciting evening to witness the stunning lunar eclipse...</p>
                <p>Date: October 8, 2023</p>
                 <a href="#">Learn More</a>
            </div>

            <div class="event">
                <h3>Starry Sky Camping Experience</h3>
                <p>Embark on a camping adventure and immerse yourself in the beauty of the night sky...</p>
                <p>Date: November 15-17, 2023</p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </section>
{% endblock %}
