{% extends "core/base.html" %}
{% block title %} Gallery | Univerze {% endblock %}
{% block content %}
{% for project in projects %}
  <div class="container">
    <div class="row">   
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{{project.image.url}}" alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">{{project.Title}}</h2>   
        <p>{{project.Description}}</p>
        <p><a href="{{project.link}}" target="_blank">Seguí el enlace</a></p>
        <h3>Planeta: {{project.Planet}}</h3>
      </div>
    </div>  
  </div>
{% endfor %}
{% endblock %}
